GridBackground {
    --grid-background-color: rgb(40, 40, 40);
    --line-color: rgba(193, 196, 192, 0.1);
    --thick-line-color: rgba(193, 196, 192, 0.1);
    --spacing: 15;
}

.actionState {
    background-color: rgb(79, 75, 75);
}
